<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Découvrez et redécouvrez votre ville !" />
    <meta name="keywords" content="" />
    <meta name="author" content="Bratislaboys" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd2p7r0jh2apbfUvJWw1THUJTbr0wAziI&callback=initMap" type="text/javascript"></script>
    <script async type="text/javascript">
        var lat = 48.830414;
        var lon = 2.333333;
        var map = null;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: new google.maps.LatLng(lat, lon),
                zoom: 15,
                streetViewControl: false,
            });

            var villes = {
                "Paris": { "lat": 48.852969, "lon": 2.349903 },
                "P2": { "lat": 48.852969, "lon": 2.45 },
                "Brest": { "lat": 48.383, "lon": -4.500 },
                "Quimper": { "lat": 48.000, "lon": -4.100 },
                "Bayonne": { "lat": 43.500, "lon": -1.467 }
            }

            var contentString1 = '<div id="content">' + '<div id="siteNotice">' + '</div>' + '<h1 id="firstHeading" class="firstHeading">test</h1>' + '<div id="bodyContent">' + '<p><b>test</b>.</p>' + '<p>Attribution: Google, <a href="https://www.google.fr">' + 'https://www.google.fr</a> ' + '(last visited June 22, 2009).</p>' + '</div>' + '</div>';
            var infowindow = new google.maps.InfoWindow({ content: contentString1 }, { map: map });
            var image = {
                path: "M27.648-41.399q0-3.816-2.7-6.516t-6.516-2.7-6.516 2.7-2.7 6.516 2.7 6.516 6.516 2.7 6.516-2.7 2.7-6.516zm9.216 0q0 3.924-1.188 6.444l-13.104 27.864q-.576 1.188-1.71 1.872t-2.43.684-2.43-.684-1.674-1.872l-13.14-27.864q-1.188-2.52-1.188-6.444 0-7.632 5.4-13.032t13.032-5.4 13.032 5.4 5.4 13.032z",
                fillColor: '#2699FB',
                fillOpacity: 1,
                strokeWeight: 0,
                scale: 0.65
            };
            var boussole ={
            	path: "M14,0C6.268,0,0,6.268,0,14s6.268,14,14,14s14-6.268,14-14S21.732,0,14,0z M14,26C7.373,26,2,20.627,2,14S7.373,2,14,2s12,5.373,12,12S20.627,26,14,26zM6.222,21.777c0,0,8.838-3.183,10.606-4.949c1.768-1.768,4.949-10.606,4.949-10.606s-8.838,3.183-10.605,4.95S6.222,21.777,6.222,21.777z M12.586,12.586l2.828,2.828c0.707,0.707-6.363,3.535-6.363,3.535S11.879,11.879,12.586,12.586z", 
            	fillColor: '#2699FB',
                fillOpacity: 1,
                strokeWeight: 0,
                scale: 0.8
            };
            
            var tableau = [];

            for (ville in villes) {

                var marker = new google.maps.Marker({
                    position: { lat: villes[ville].lat, lng: villes[ville].lon },
                    title: 'Cliquer pour en savoir plus',
                    map: map,
                    content: contentString1,
                    icon: image, 
                    draggable : false,
                });

                tableau.push(marker);

            }

            tableau.forEach(element => {
                element.addListener('click', function () {
                    infowindow.open(map, element);
                });
            });
            map.addListener('click', function (e) {
                placeMarkerAndPanTo(e.latLng, map);
            });
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                   var marker = new google.maps.Marker({
                    position: pos,
                    title: 'Cliquer pour en savoir plus',
                    label : 'Vous êtes ici',
                    map: map,
                    content: contentString1,
                    icon: boussole, 
                    draggable : false,
                });
                tableau.push(marker);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Erreur: La géolocalisation a échoué.' :
                'Erreur: Votre navigateur ne prend pas en charge la géolocalisation.');

        }



        window.onload = function () {
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap();
        };
    </script>
    <style>
        #map {
            height: 95%;
        }
        
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
    <title>Autour de moi</title>
</head>

<body>
    <div id="map"></div>
    <header>
        <nav></nav>
    </header>
    <section class="content">
    </section>
    <footer>
        <nav class="menu">
            <input type="radio" name="menu" id="un" checked>
            <input type="radio" name="menu" id="deux">
            <input type="radio" name="menu" id="trois">
            <input type="radio" name="menu" id="quatre">
            <input type="radio" name="menu" id="cinq">
            <div class="list">
                <div class="link-wrap">
                    <label for="un">
                        <i class="fa fa-home"></i>
                    </label>
                    <label for="deux">
                        <i class="fa fa-search"></i>
                    </label>
                    <label for="trois">
                        <i class="fa fa-map-marker"></i>
                    </label>
                    <label for="quatre">
                        <i class="fa fa-user"></i>
                    </label>
                    <label for="cinq">
                        <i class="fa fa-plus"></i>
                    </label>
                </div>
            </div>
        </nav>
    </footer>
</body>

</html>
