<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Découvrez et redécouvrez votre ville !" />
  <meta name="keywords" content=""/>
  <meta name="author" content="Bratislaboys"/>
  <title>Profil</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</head>
<body>
  <header>
    <nav>
      <div class="btn-group" role="group" aria-label="...">
        <i id="retour" class="fa fa-chevron-left"></i>
      </div>
      <p>BARRICADE BARRAULT</p>
    </nav>
  </header>
  <section class="content">
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kgvcuUYjssU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="contributeur">
      <div class="btn-group" role="group" aria-label="...">
        <i class="fas fa-user-circle"></i>
        <p>Amis de la Commune</p>
        <i class="fas fa-check"></i>
      </div>
    </div>
    <div class="descriptif">
      <div class="btn-group" role="group" aria-label="...">
        <i class="fa fa-quote-left"></i>
      </div>
      <p>La rue du Merle moqueur est connue pour ses rues pavées et ses bars, mais elle a été l’objet de nombreux affrontements, des barricades se dressaient au croisement de la rue…</p>
      <div class="btn-group" role="group" aria-label="...">
        <i class="fa fa-quote-right"></i>
      </div>
      <br>
      <div class="btn-group" role="group" aria-label="...">
        <i class="fa fa-share-alt"> 43</i>
        <i class="fa fa-commenting"> 98</i>
        <i class="fa fa-thumbs-up"> 32</i>
        <i class="fa fa-thumbs-down"> 56</i>
      </div>
    </div>
    <br>
  </section>
<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light menu"></nav>
</footer>
</body>
</html>
