<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Découvrez et redécouvrez votre ville !" />
  <meta name="keywords" content="" />
  <meta name="author" content="Bratislaboys" />
  <title>Bratislava — Accueil</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" type="text/css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</head>
<body>
  <section class="content">
    <h1>ACTUALITÉS</h1>
    <div class="filactu">
      <h2>Un contenu à découvrir à côté de chez vous<h2>
      <p>Dans la rubrique architecture par <span><i>La Commune</i></span>Soyez le premier à le noter !</p>
      <div class="btn-group" role="group" aria-label="...">
        <i class="fa fa-heart"> 43</i>
        <i class="fa fa-commenting"> 98</i>
        <i class="fa fa-thumbs-up"> 32</i>
        <i class="fa fa-thumbs-down"> 56</i>
      </div>
    </div>
    <br>
    <div class="filactu">
      <h2>Une nouvelle rubrique « Paris coquin » à découvrir<h2>
      <p>Il n’y a pas que Pigalle en quartier chaud à Paris. Redécouvrez Paris à travers les époques et les lieux dans cet itinéraire thématique très hot.</p>
      <div class="btn-group" role="group" aria-label="...">
        <i class="fa fa-heart"> 43</i>
        <i class="fa fa-commenting"> 98</i>
        <i class="fa fa-thumbs-up"> 32</i>
        <i class="fa fa-thumbs-down"> 56</i>
      </div>
    </div>
    <div class="filactu">
      <h2>Itinéraire Eiffel<h2>
      <p>Des fontaines aux bouches de métro, un point commun : l'art Nouveau et ses ferrures</p>
      <div class="btn-group" role="group" aria-label="...">
        <i class="fa fa-heart"> 43</i>
        <i class="fa fa-commenting"> 98</i>
        <i class="fa fa-thumbs-up"> 32</i>
        <i class="fa fa-thumbs-down"> 56</i>
      </div>
    </div>
  </section>
  <footer>
   <nav class="navbar fixed-bottom navbar-light bg-light menu"></nav>
  </footer>
</body>
</html>
