<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Découvrez et redécouvrez votre ville !" />
  <meta name="keywords" content=""/>
  <meta name="author" content="Bratislaboys"/>
  <title>Profil</title>
  <link rel="stylesheet" href="style.css" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
      <div class="btn-group" role="group" aria-label="...">
        <i id="retour" class="fa fa-chevron-left"></i>
      </div>
      <p>Utilisateur</p>
    </nav>
  </header>
  <section class="content">
    <div class="filactu">
      <h2>Mes succès<h2>
      <p>Vous avez presque déverrouillé tous les succès du voisinage. Continuez comme ça !</p>
    </div>
    <br>
    <div class="filactu">
      <h2>Mon historique<h2>
      <p>Cliquez pour retrouver tous les lieux que vous avez visités.</p>
    </div>
    <br>
    <div class="filactu">
      <h2>Mes itinéraires<h2>
      <p>Marre du métro-boulot-dodo ? Rien à faire ce WE ? Consultez nos propositions.</p>
    </div>
    <br>
    <div class="filactu">
      <h2>Mes followers<h2>
      <p>Ils vous suivent ou vous aiment… mais qui sont-ils ?</p>
    </div>
    <div class="filactu">
      <h2>Mes contributions<h2>
      <p>Retrouvez ici tous vos contenus et leurs statistiques.</p>
    </div>
    <br>
  </section>
<footer>
  <nav class="menu">
    <input type="radio" name="menu" id="un" checked>
    <input type="radio" name="menu" id="deux">
    <input type="radio" name="menu" id="trois">
    <input type="radio" name="menu" id="quatre">
    <input type="radio" name="menu" id="cinq">
    <div class="list">
      <div class="link-wrap">
        <label for="un">
          <i class="fa fa-home"></i>
        </label>
        <label for="deux">
          <i class="fa fa-search"></i>
        </label>
        <label for="trois">
          <i class="fa fa-map-marker"></i>
        </label>
        <label for="quatre">
          <i class="fa fa-user"></i>
        </label>
        <label for="cinq">
          <i class="fa fa-plus"></i>
        </label>
      </div>
    </div>
  </nav>
</footer>
</body>
</html>
