{% extends 'base.html.twig' %}
{% block body %}

       <div class="text-center">
           <h3>Bratislava represente</h3>

           <div class="jumbotron text-center">
                   <example></example>
               </div>
       </div>

{% endblock %}