html {
    font-size:20px; 
    height:100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    height:100%;
}
body, header, nav, section, footer {
    width:100%;
    margin:0;
    padding:0;
}
section.content {
    display:flex;
    flex-flow: column nowrap;
    align-items:stretch;
    background:url('images/google-maps.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}
.content a.retour {
    display:block;
    position:absolute;
    top:0;
    left:0;
    margin:0.5rem;
    padding:0.5rem;
}
.content h1 {
    font-size:1rem;
    width:100%;
    text-align:center;
    color: rgb(88, 151, 245);
}
.content ul {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    width:100%;
    margin:1rem 0;
    list-style: none;
    padding:0;
}
.content ul li {
    text-align:center;
    display:flex;
    flex-flow:column wrap;
    justify-content: space-around; 
    color:rgb(88, 151, 245);
}
.content ul i {
    font-size:1.5rem;
    padding:1rem;
    width:4rem;
    height:4rem;
    border:0.25rem solid rgb(88, 151, 245);
    background-color:rgba(255,255,255,1);
    border-radius:50%; 
}
.content .disclaimer {
    position:absolute;
    background-color:rgba(255,255,255,1);
    width:90%;
    bottom:15%;
    text-align:center;
    margin:0 5%;
    padding:2.5%;
}
.content .disclaimer p {
    color:rgba(88, 151, 245, 0.8);
}
p.location {
    color:rgba(88, 151, 245, 1);
    font-weight:700;
}
.content .disclaimer hr {
    width:75%;
    color:rgb(155,155,155);
}
footer {
    position:fixed;
    height:10%;
    bottom:0;
    left:0;
    right:0;
}
input[name="menu"]{
    display:none;
}
.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar {
    margin-bottom:0;
}
.list{
	width: 100%;
	height: 56px;
	background: rgb(88, 151, 245);
	position: relative;
}
.list .link-wrap{
	width: 100%;
	height: 100%;
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
    justify-content:space-around;
}

.list .link-wrap>label{
	z-index: 999;
	width: 25%;
	font-size: 1.75rem;
	cursor: pointer;
    text-align: center;
    margin:auto 0;
}
.list .link-wrap>label[for="trois"]{
    font-size:3rem;
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    background-color:rgb(88, 151, 245);
    border-radius:50%;
}
.list .link-wrap>label>i {
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}
#un:checked ~ .list .link-wrap>label[for="un"],
#deux:checked ~ .list .link-wrap>label[for="deux"],
#trois:checked ~ .list .link-wrap>label[for="trois"],
#quatre:checked ~ .list .link-wrap>label[for="quatre"],
#cinq:checked ~ .list .link-wrap>label[for="cinq"]{
  color: #fff;
}

